swap=1
bixby=HOME
immersive=full
clock=1
calendar=1
filesgo=1
search=1
assistant=1
print=1
calculator=1
mtp=1
bluelightfilter=1
smartmanager=1
launcher=nova
keyboard=gboard
googlenow=1
wallpapers=1
iconpack=1
adaway=0
news=1
tasks=1
blacknavbar=1
chromecast=1
markup=1
lens=1
camera=1
photos=1
icons=google
healthservice=1
mms=0
measure=1
gmail=1
keep=1
drive=1
maps=1
chrome=1
datally=1
youtube=1
plus=1
trips=1
translate=1
earth=1
fit=1
podcasts=1
music=1
trustedcontacts=1
auto=1
snapseed=1
photoscanner=1
docs=1
slides=1
sheets=1
streetview=1
pay=1
mymaps=1
mixplorer=0