on boot

    # zswap off
    #write /sys/module/zswap/parameters/enabled 0
    #exec u:r:init:s0 root root -- swapoff /dev/block/zram0

on property:sys.boot_completed=1

    # reset the max CPU frequency back to the max
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2652000
    write /sys/devices/system/cpu/cpu5/cpufreq/scaling_max_freq 2652000
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_max_freq 2652000
    write /sys/devices/system/cpu/cpu7/cpufreq/scaling_max_freq 2652000

    # disable printk
    write /sys/kernel/printk_mode/printk_mode 0

    write /sys/block/sda/queue/iostats 0
    write /sys/block/sda/queue/read_ahead_kb 2048
    write /sys/block/sda/queue/rotational 0
    write /sys/block/sda/bdi/min_ratio 5

    write /sys/kernel/debug/debug_enabled 0